@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .btn-focus {
    @apply bg-orange-700 text-white;
  }
} */
* {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  smoothing: antialiased;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: none;
}

body {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track-piece {
  background-color: rgb(229 231 235);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.carrinho,
#modal {
  -webkit-transition: all 0.5s 0s ease-in;
  -moz-transition: all 0.5s 0s ease-in;
  -o-transition: all 0.5s 0s ease-in;
  transition: all 0.5s 0s ease-in;
}

.btn-focus {
  background-color: rgb(194 65 12);
  color: white;
}

.btn-focus:hover {
  background-color: rgb(194 65 12) !important;
}

.carrinho {
  transition: all 0.25s;
}
.nav-bar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.botao-carrinho {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
}
.toggle {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
.toggle-indicator {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
  animation: 0.2s ease-in-out switchOut;
}
.active {
  left: 16px;
  transition: 0.5s;
  animation: 0.2s ease-in-out switchIn;
}

@keyframes switchIn {
  from {
    left: 0;
  }
  to {
    left: 16px;
  }
}

@keyframes switchOut {
  from {
    right: 0;
  }
  to {
    right: 16px;
  }
}

@media (max-width: 600px) {
  .carrinho {
    width: 100vw;
  }
  .container-modal {
    flex-direction: column;
    //width: 100vw;
    align-items: center;
  }
}
